body{
    position:relative;
    margin: 0;
    padding: 0;
    line-height: 1.5em; 
    font-family: OCR A Std, monospace;
    min-height: 100vh;
}

a{
    text-decoration: none;
    color: #7371FC;
}

a:hover{
    text-decoration: underline;
    color: #0400f7;
}

blockquote:first-child:first-letter {
    color: #7371fc;
    float: left;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}

blockquote{
    margin: 50px 0 30px 10px;
    width: 100%;
}

blockquote>footer{
    text-align: right;
    margin-top: 30px;
}

.headerDescription{
    text-align: center;
}

.header{ 
    background-color: #7371FC;
    padding: 10px 16px;
    color: #f1f1f1;
    border-bottom: #3A37FB;
}

.header h1 {
    text-align: center;
    font-size: 36pt;
}

.body{
    min-width: 700px;
    margin: 0px 300px 0px 200px;
}

.interestedContent{
    padding: 30px 10px 30px 10px;
}

.interestedContent img{
    height: 400px;
}

.interestedContent span{
    padding: 10px 60px 10px 0px;
}

.validationMark{
    margin: 0 0 30px 200px;
}

hr{
    border-top: 2px solid #7371FC;
    width:80%;
}