$dark-deep: #000000;
$dark-medium: #131316;
$dark-light: #1c1c21;
$dark-background: linear-gradient(
    to left bottom,
    #000000,
    #050404,
    #0a0809,
    #0d0c0e,
    #100f12,
    #121115,
    #141317,
    #151519,
    #17171b,
    #18191d,
    #1a1a1f,
    #1c1c21
);

$brown-deep: #272727;
$brown-medium: #d4aa7d;
$brown-light: #efd09e;
$brown-background: linear-gradient(
    to left bottom,
    #272727,
    #433c43,
    #67515b,
    #8e676b,
    #b28074,
    #c29079,
    #d0a17f,
    #dbb385,
    #e0ba8b,
    #e5c191,
    #eac998,
    #efd09e
);

$green-dark: #388050;
$green-deep: #b3dec1;
$green-medium: #e5fcf5;
$green-light: #fefffe;
$green-background: linear-gradient(
    to right top,
    #fefffe,
    #fafefb,
    #f6fef9,
    #f1fdf7,
    #ecfdf6,
    #e5faf2,
    #def8ed,
    #d7f5e9,
    #cdefe0,
    #c4ead6,
    #bbe4cc,
    #b3dec1
);
